body{
    margin: 0;
    padding: 0;
}

.header-box{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 20px;
    padding-top: 0;
}

.menu-btn{
    height: 12px;
    width: 12px;
}

.header-box a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.header-box img{
    margin-top: 0;
    padding-top: 0;
    height: 24px;
    width: 24px;
}

.navigation-bar{
    padding-top: 0;
    padding-left: 20%;
    padding-right: 20%;
    height: 2em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.navigation-bar > a {
    color:black;
    text-decoration: none;
}

.navigation-bar > a:hover {
    color: white;
    background: black;
    text-decoration: none;
}

.outerwear-img{
    display: flex;
    flex-flow: column nowrap;
}

.outerwear-img img{
    margin-top: 20px;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.shop-now-box{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 1.2em;
}

.shop-now-box > h2{
    font-size: 1.3em;
    font-weight: 500;
    margin-top: 0.4em;
    margin-bottom: 0.8em;
}

.shop-now-box > a {
    color:black;
    text-decoration: none;
    border: 2px solid black;
    padding: 10px 50px;

}

.shop-now-box > a:hover{
    color:white;
    background: black;
    text-decoration: none;
    border: 2px solid white;
    padding: 10px 50px;

}

.tshirts-box{
    margin-top: 1.4em;
    display: flex;
    flex-flow: row nowrap;
}

.tshirt-box{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.tshirt-box img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

footer{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

footer > h2 > a{
    font-size: 16px;
    color:gray;
    text-decoration: none;
}

footer > a {
    color:white;
    background-color: black;
    text-decoration: none;
    padding: 10px 30px;
}

@media(max-width: 800px){
    .navigation-bar{
        display: none;
    }

    .menu-btn{
        background-image: url("menu.jpg");
        background-size: 100%;
        display: block;
    }
}